<div class="conversation-main-container" data-controller="conversation">
  <div class="section-wrapper">
    <div class="col-1 section">


    </div>
    <div class="col-2 section"></div>
    <div class="col-5 section"></div>
    <div class="col-4 section"></div>
  </div>
</div>