<%#= render Post::PostComponent.new(posts: @posts)%>
<!--<ul id="posts_list" data-turbo-stream-target="posts_list">-->
<%#= render @posts %>
<!--</ul>-->

<%= turbo_stream_from :posts_list %>
<div id='all_posts'
     data-controller="pagination home"
     data-pagination-target="posts"
     data-pagination-url-value="<%= root_url %> "
     data-pagination-page-value="<%= 2 %>">

  <%= render partial: "shares/post", collection: @posts %>
</div>