<%#= render Post::PostComponent.new(posts: @posts)%>
<!--<ul id="posts_list" data-turbo-stream-target="posts_list">-->
  <%#= render @posts %>
<!--</ul>-->



<%= turbo_stream_from :posts_list %>
<div id='all_posts'>
  <%= render @posts %>
</div>


