.flash-message {
  position: absolute;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-radius: 7px;
  top: 80px;
}

.flash-success {
  background: lightblue;
}

.flash-error {
  background: #ffa590;
}

.header-wrapper {
  position: sticky;
  top: 0;
}

.w-unset {
  width: unset !important;
}

.h-unset {
  height: unset !important;
}

a {
  text-decoration: unset;
  color: #1a1e21;
}

.top-header {
  top: 0;
  position: sticky !important;
}

.create-wrapper {
  top: 80px;
}

.w-60 {
  width: 60%;
}

.ml-6 {
  margin-left: 6px;
}
.mr-6 {
  margin-right: 7px;
}

.cursor-pointer {
  cursor: pointer;
}

.comment-area {
  width: 100%;
  border-radius: 7px;
  height: 58px;
  border: 1px solid gainsboro;
  padding: 3px 5px;
}

.image-wrapper {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.comment-top {
  position: sticky;
  top: 0;
  background-color: white;
}