// users.scss
.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .mt--50 {
    margin-top: -50px;
  }

  .user-header {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    flex-direction: column;

    .wallpaper-user-image-wrapper{
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 20px;

      .profile-user-image-wrapper{
        width: 80px;
        height: 80px;
        overflow: hidden;
        border: 1px solid;
        border-radius: 50%;
        padding: 3px;
        display: inline-block;

        .user-avatar{
          width: 100%;
        }
      }

      .user-header-info {
        .user-username {
          font-size: 1.5rem;
          font-weight: bold;
        }

        .user-bio {
          font-size: 1.25rem;
          color: gray;
        }
      }

      .edit-profile-images {
        border: 1px solid #dfdddd;
        border-radius: 5px;
        padding: 0px 6px;
        height: 20px;
        background: lightgray;
        margin-top: 18px;
      }
    }


}

  .user-posts {
    width: 50%;

    .wallpaper-wrapper {
      .wall-paper {
        height: 180px;
        background: gainsboro;
        margin-top: 10px;
        border-radius: 8px;
      }
    }


    .user-posts-title {
      font-size: 1.5rem;
      margin-bottom: 1rem;
  }

    .user-post {
      width: 20rem;
      height: 20rem;
      margin-bottom: 1rem;

      .user-post-image {
        width: 100%;
        margin-bottom: 5px;
    }
  }
}
}